*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body{
	background-color: lemonchiffon;
}

nav{
	background-color: #ffff99;
	overflow: auto;
	color: black;
	font-size: 20px;
	font-family: arial black;

}

h1{
		float: left;
		padding: 20px;
}

li{
	list-style: none;
	float: right;
	padding: 20px;
}

.banner{
	border: 3px solid   #fff;
	margin: 10px auto; 
}
header{
	text-align: center;
	background-color: #ffffcc;
	color:black; 
	margin: 5px;
	padding: 60px;
	font-size: 60px;
	font-family: arial black;
	font-style:bold;
}
.container div{
	overflow: hidden;
	padding: 30px;
	color:black;


}


.ht5{
	float:left;
	width: 25%;
	margin: 30px;
	padding: 10px;

	

}
.ht5 img{
	margin-left: 30px;
}
.c3{
	float:left;
	width: 25%;
	margin: 30px;
	padding: 10px;
	
}

.c3 img{
	width: 60%;
	margin-left:40px;
}

.js{
	float:left;
	width: 25%;
	margin: 30px;
	padding: 10px;
}
.js img{
	margin-left: 30px;
}
p{
	padding: 20px;
	font-family: arial black;
	font-size: 18px;
	
}
a{
	text-decoration: none;
	color: black;
}
a:hover{
	color:grey;
	transition: .5s;

}